@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,800&display=swap");

.title-text {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 5rem;
  text-align: center;
  padding: 1rem;
}
