@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");

.portfolio-card {
  max-width: 60%;
  background-color: #c9adcf9d;
}

.card-title {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2rem;
}
